:root {

    --menu-background-color: linear-gradient(to right, #b0aea7, #fff );
    --menu-link-color: #f51b02;
    --header-background-color: linear-gradient( #858282, #c9c6c5, #858282 )
}

.dark-mode {


}

html, body {
    
    height: 100%;
    width: 100%;
}

h1 {

    font-weight: 36px;
}

#menu {

    z-index: 200;
    float: left;
    top: 50px;
    width: 20%;
    height: 100%;
    padding: 20% 2.5%;
    background: var( --menu-background-color );

}

#show-button {

    z-index: 300;
    position: absolute;
    left: 25px;
    top: 25px;
    display: block;
    float: left;
}

#content {

    width: 100%;
    height: 100%;
}

#ac-header {

    width: 100%;
    height: 10%;
    background: var( --header-background-color );
    position: sticky; 
    top: 0;
}

#ac-header-image {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
}

#ac-page-title {

    width: 100%;
    height: 30%;
    background-color: rgba( 0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: center;
    position: sticky;
}

#ac-page-content {

    background-color: var( --content-background-color );
}

.ac-menu-link {

    color: var( --menu-link-color ) !important;
    font-weight: 700 !important;
    font-size: 22px !important;
}

.ac-menu-link:hover {

    text-decoration: underline;
}